In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("student_placement_data.csv")

In [5]:
df.head()

    IQ  CGPA  Skill_Level  Placed
0  117  7.89            8       1
1   92  7.04            6       0
2   89  6.19            4       0
3   85  9.52            9       0
4  144  7.87            9       1

In [6]:
df.shape

(100, 4)

In [ ]:
sns.scatterplot(df['IQ'],df['CGPA'],df['Skill_Level'],hue=df[])